# Google Maps
PUBLIC_GOOGLE_MAPS_API_KEY=AIza...

# Digital Ocean Spaces
SPACES_KEY=DO...
SPACES_SECRET=
SPACES_BUCKET=gaylonphotos
SPACES_REGION=sfo3
SPACES_ENDPOINT=https://sfo3.digitaloceanspaces.com
SPACES_CDN_URL=https://gaylonphotos.sfo3.cdn.digitaloceanspaces.com

# Auth
AUTH_SECRET=
